<app-header></app-header>
<main>
  <section class='main-section'>
    <div class='headline'>
      <span>REFORÇO MATEMÁTICO</span>
      <h1>As aulas que você busca para se tornar <br>mestre na Matemática </h1>
    </div>
    <img bgSrc="/src/app/assets/bg-image.png" width="480" height="400" >
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        Brasil está na posição 65º  <br>
        no PISA
      </h2>
    </div>
<p>O PISA, que é hanking internacional, o Brasil tem apresentado <b>resultados abaixo da média global em matemática</b> em várias edições do estudo.</p>
  </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
  </section>
  <section class="benefit-section pad-70">
    <benefit-card
    card-title='equipe capacitada'
    img-path="/src/app/assets/bg-image.png"
    card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    >
    </benefit-card>
    <benefit-card
    card-title='seus projetos guiados do zero'
    img-path="/src/app/assets/bg-image.png"
    card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
    >
    </benefit-card>
  </section>
  <section class="cta-section pad-70">
    <h2>Quer elevar seu nivel?</h2>
    <btn-primary btn-text='fale com nossos especialistas'>

    </btn-primary>
    <app-footer></app-footer>
  </section>
</main>
