
$primary-text:rgb(0, 14, 4);
$secondary-text: rgb(60, 156, 60);
$primary-color: rgb(92, 209, 92);
$secondary-color: rgb(28, 110, 28);
$light-primary-color: rgb(123, 214, 123);
$bg-secondary: rgb(160, 211, 160);
